
    <div class="page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <h2 class="text-center mb-4" style="color: white;">Login</h2>
            <div class="auto-form-wrapper">
              <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
                <div class="form-group">
                  <label class="label">Email</label>
                  <div class="input-group">
                    <input ngModel name="email" type="email" class="form-control" required placeholder="Email" style="min-height:44px">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-check-circle"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Password</label>
                  <div class="input-group">
                    <input ngModel name="password" type="password" class="form-control" required placeholder="*********" style="min-height:44px">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-check-circle"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button [disabled]="form.invalid" class="btn btn-primary submit-btn btn-block">Login</button>
                </div>
                
                
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Are you registered? </span>
                  <br>
                  <a routerLink="/register" class="text-black text-small">Create an account</a>
                </div>
              </form>
            </div>
            
            
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
  